In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
data = pd.read_csv("heart.csv")
print(data.columns)

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [26]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [28]:
data.head

<bound method NDFrame.head of      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]>

In [39]:
data["Sex"] = data["Sex"].map({'M':0, 'F' : 1})

In [41]:
data.head

<bound method NDFrame.head of      Age  Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40    0           ATA        140          289          0     Normal
1     49    1           NAP        160          180          0     Normal
2     37    0           ATA        130          283          0         ST
3     48    1           ASY        138          214          0     Normal
4     54    0           NAP        150          195          0     Normal
..   ...  ...           ...        ...          ...        ...        ...
913   45    0            TA        110          264          0     Normal
914   68    0           ASY        144          193          1     Normal
915   57    0           ASY        130          131          0     Normal
916   57    1           ATA        130          236          0        LVH
917   38    0           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]>

In [47]:
data["ChestPainType"].value_counts()

ChestPainType
ASY    496
NAP    203
ATA    173
TA      46
Name: count, dtype: int64

In [53]:
data["CheatPainType"] = data["ChestPainType"].map({'ASY':0, 'NAP' : 1, 'ATA':2, 'TA': 3})

In [55]:
data.head

<bound method NDFrame.head of      Age  Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40    0           ATA        140          289          0     Normal
1     49    1           NAP        160          180          0     Normal
2     37    0           ATA        130          283          0         ST
3     48    1           ASY        138          214          0     Normal
4     54    0           NAP        150          195          0     Normal
..   ...  ...           ...        ...          ...        ...        ...
913   45    0            TA        110          264          0     Normal
914   68    0           ASY        144          193          1     Normal
915   57    0           ASY        130          131          0     Normal
916   57    1           ATA        130          236          0        LVH
917   38    0           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease  CheatPainType
0      172              N      0.0       Up             0              2
1      156              N      1.0     Flat             1              1
2       98              N      0.0       Up             0              2
3      108              Y      1.5     Flat             1              0
4      122              N      0.0       Up             0              1
..     ...            ...      ...      ...           ...            ...
913    132              N      1.2     Flat             1              3
914    141              N      3.4     Flat             1              0
915    115              Y      1.2     Flat             1              0
916    174              N      0.0     Flat             1              2
917    173              N      0.0       Up             0              1

[918 rows x 13 columns]>